@mixin field {
	height: 45px;
	width: 100%;
	margin-bottom: 15px;
}
/* contact section styling */
.contact {
	.title {
		&::after {
			content: "get in touch";
		}
	}
	.contact__content {
		.column--left {
			width: calc(50% - 30px);
		
			.contact__text {
				font-size: 20px;
				font-weight: 600;
				margin-bottom: 10px;
			}
			.contact__icons {
				margin: 10px 0;
			}
		}
		.contact__row {
			display: flex;
			height: 65px;
			align-items: center;	
			.contact__info {
				margin-left: 30px;
				.contact__head {
					font-weight: 500;
				}
				.contact__sub-title {
					color: #333;
				}
			}
			i {
				font-size: 25px;
				color: #19a2b4;
			}
		}
	
		.column--right {
			width: calc(80% - 45px);
			.contact__text{
				font-size: 20px;
    			font-weight: 600;
  				margin-bottom: 10px;
			}
			form {
				.contact__fields {
					display: flex;
					.contact__field {
						@include field();
					}
				}
					.field--name {
						margin-right: 10px;
					}
					.input {
						height: 100%;
						width: 100%;
						border: 1px solid lightgrey;
						border-radius: 6px;
						outline: none;
						padding: 0 15px;
						font-size: 17px;
						font-family: 'Poppins', sans-serif;
						transition: all 0.3s ease;
						&:focus {
							border-color: #b3b3b3;
						}
					}
					
				
				.contact__field {
					@include  field();
				}

					.text--area {
						height: 80px;
						width: 100%;
						textarea {
							height: 100%;
							width: 100%;
							border: 1px solid lightgrey;
							border-radius: 6px;
							outline: none;
							padding: 0 15px;
							font-size: 17px;
							transition: all 0.3s ease;
							padding-top: 10px;
							resize: none;
							font-family: 'Poppins', sans-serif;
							&:focus {
								border-color: #b3b3b3;
							}
						}
					}
					.button--area {
						display: flex;
						align-items: center;
						button {
							color: #fff;
							display: block;
							width: 160px;
							height: 45px;
							outline: none;
							font-size: 18px;
							font-weight: 500;
							border-radius: 6px;
							cursor: pointer;
							flex-wrap: nowrap;
							background: #19a2b4;
							border: 2px solid #19a2b4;
							transition: all 0.3s ease;
							&:hover {
								color: #19a2b4;
								background: none;
							}
						}
					}
				}
					
			  }			
	
		}
}
